# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron
.Rprofile

# Bloody mac files
.DS_Store

# files to enable auto emailing
gmailr.json
.secret

# data outputs
#*.csv
