# R Environment Variables, session data etc.
.Renviron
.Rprofile
.Rhistory
.Rapp.history
*.RData
.Ruserdata

# private R files
private.*
server.script.R

# Bloody mac files
.DS_Store

# files to enable auto emailing
gmailr.json
.secret


# keys
.ppk
.pem
